@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>
    <p>The CSLA_Models database was deleted and recreated with demo data.</p>
</div>
